<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns# article: https://ogp.me/ns/article#" lang="en" xml:lang="en">

<head>
    <title>{{ config.title }}</title>

    <!--[if lt IE 9]>
        <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="{{ config.description }}" />
    <meta name="keywords" content="tattoo, spaghetti, tattoo shop, spaghetti tattoo shop, spaghetti tattoo" />

    <!-- Favicons -->
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />

    <!-- Mobile -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Open Graph -->
    <meta property="og:title" content="{{ config.title }}">
    <meta property="og:description" content="{{ config.description }}">
    <meta property="og:url" content="{{ current_url | safe }}">
    <!-- <meta property="og:image" content=""> -->
    <meta property="og:type" content="website">

    <link rel="stylesheet" type="text/css" href="/style.css" />
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mali"> -->
</head>

<body>
    <h1>Spaghetti Tattoo Shop</h1>
    <a href="https://www.instagram.com/spaghettitattoo/" target="_blank">Instagram</a>
</body>

</html>
