<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns# article: https://ogp.me/ns/article#" lang="it" xml:lang="it">

<head>
    <title>{{ config.title }}</title>

    <!--[if lt IE 9]>
        <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="{{ config.description }}" />
    <meta name="keywords" content="tattoo, spaghetti, tattoo shop, spaghetti tattoo shop, spaghetti tattoo" />
    <meta http-equiv="content-language" content="it-it">

    <!-- Favicons -->
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />

    <!-- Mobile -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Open Graph -->
    <meta property="og:title" content="{{ config.title }}">
    <meta property="og:description" content="{{ config.description }}">
    <meta property="og:url" content="{{ current_url | safe }}">
    <!-- <meta property="og:image" content=""> -->
    <meta property="og:type" content="website">

    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
</head>

<body>
    <div id="main-container">
        <header>
            <a class="social-icon" href="{{ config.extra.instagram_url }}" target="_blank">
                <img src="{{ get_url(path="assets/icons/instagram.svg") }}" alt="Instagram" />
            </a>
            <a class="social-icon" href="TODO: facebook" target="_blank">
                <img src="{{ get_url(path="assets/icons/facebook.svg") }}" alt="Facebook" />
            </a>
        </header>

        <main>
            <h1>
                <img class="block mx-auto" src="/assets/logo.svg" alt="Spaghetti Tattoo" />
            </h1>

            <section id="hero-text">
                <h2>Tatuaggi di qualità fatti da professionisti</h2>
                <p>Lorem ipsum</p>
            </section>

            <section id="our-work">
                <h2>I Nostri Lavori</h2>
            </section>
        </main>

        <footer class="bg-dark-gray">
            <section id="opening-hours">
                <span class="footer-title">Orario di apertura</span>
                <div>
                    <p><span class="opening-days">LUN/VEN:</span> 10.00/13.00 - 15.00/19.30</p>
                    <p><span class="opening-days">SAB:</span> 10.00/13.00</p>
                    <p><span class="opening-days">DOM:</span> <span class="closed">chiuso</span></p>
                </div>
            </section>

            <section id="contacts">
                <span class="footer-title">Contatti</span>
                <p><a href="tel:+39 333 461 6489">+39 333 461 6489</a></p>
                <p><a href="mailto:info@spaghettitattoo.com">info@spaghettitattoo.com</a></p>
            </section>

            <section id="follow-us-on">
                <span class="footer-title">Seguici su</span>
                <div class="icons-container">
                    <a href="{{ config.extra.instagram_url }}" target="_blank">
                        <img src="{{ get_url(path="assets/icons/instagram.svg") }}" alt="Instagram" />
                    </a>
                    <a href="{{ config.extra.facebook_url }}" target="_blank">
                        <img src="{{ get_url(path="assets/icons/facebook.svg") }}" alt="Facebook" />
                    </a>
                </div>
            </section>
        </footer>
    </div>
</body>

</html>
